In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df= pd.read_csv("train.csv",header=None)

In [ ]:
df.head(120)

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
0,69769,-946,0.1613,0.7960,Panl,N,Bus2,0.0742,0,2,...,1.0,-4670,0.9851,0.0000,0,Mard,0.0,0.3333,0,0
1,236977,-92,NaN,NaN,NaN,Y,Othr,NaN,0,3,...,NaN,-1994,NaN,NaN,0,Mard,0.0,NaN,0,0
2,168821,-1646,0.1124,0.8504,Panl,N,Bus3,0.0387,0,2,...,2.0,-2842,0.9891,0.0000,0,Sind,0.0,0.3750,0,1
3,94708,-1651,0.0263,NaN,Blok,N,Bus3,NaN,0,2,...,4.0,-1345,0.9682,0.0000,0,Sind,0.0,0.0417,0,1
4,84556,-977,NaN,NaN,NaN,N,Rest,NaN,0,2,...,NaN,-852,NaN,NaN,0,Sind,0.0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,105505,-453,0.0305,0.6464,Stok,Y,Bus3,0.0049,0,2,...,NaN,-4028,0.9742,0.0156,0,Mard,0.0,0.1667,0,0
116,158498,365243,0.0587,NaN,Panl,N,XNAA,0.0103,0,1,...,6.0,-3997,0.9772,NaN,0,Mard,1.0,0.1667,0,0
117,172320,-5627,NaN,NaN,NaN,Y,Telm,NaN,0,2,...,1.0,-5088,NaN,NaN,0,Mard,0.0,NaN,0,0
118,7456,-1094,0.1181,0.8640,Stok,N,Govt,0.0525,0,1,...,NaN,-402,0.9901,0.0205,0,Mard,0.0,0.3333,0,0
119,247039,365243,NaN,NaN,NaN,Y,XNAA,NaN,0,3,...,4.0,-4099,NaN,NaN,0,Cive,0.0,NaN,1,0

In [ ]:
df.isnull().sum()

0           0
1           0
2      143829
3      163543
4      124975
        ...
117         0
118       811
119    122297
120         0
121         0
Length: 122, dtype: int64

In [ ]:
df.shape

(246008, 122)

In [ ]:
df= df.drop(["0.1613", "0.7959999999999999","Panl","0.3333.2","0.0742"], axis=1)

KeyError: ignored

In [ ]:
df.shape

(246008, 122)

In [ ]:
most_common_027= df["0.27"].mode()[0]
most_common_027

0

In [ ]:
df["0.27"]=df["0.27"].fillna(most_common_027)

In [ ]:
most_common_028= df["0.28"].mode()[0]
most_common_028

0

In [ ]:
df["0.28"]=df["0.28"].fillna(most_common_028)

In [ ]:
most_common_0014= df["0.0.14"].mode()[0]
most_common_0014

0.0

In [ ]:
df["0.0.14"]=df["0.0.14"].fillna(most_common_0014)

In [ ]:
df.isnull().sum()

69769     0
-946      0
N         0
Bus2      0
0         0
         ..
0.26      0
Mard      0
0.0.14    0
0.27      0
0.28      0
Length: 117, dtype: int64

In [ ]:
df.shape

(246007, 117)