In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_excel("/content/gdrive/MyDrive/train.xlsx")

In [8]:
df.head

<bound method NDFrame.head of             A1      A2      A3      A4    A5 A6    A7      A8  A9  A10  ...  \
0        69769    -946  0.1613  0.7960  Panl  N  Bus2  0.0742   0    2  ...
1       236977     -92     NaN     NaN   NaN  Y  Othr     NaN   0    3  ...
2       168821   -1646  0.1124  0.8504  Panl  N  Bus3  0.0387   0    2  ...
3        94708   -1651  0.0263     NaN  Blok  N  Bus3     NaN   0    2  ...
4        84556    -977     NaN     NaN   NaN  N  Rest     NaN   0    2  ...
...        ...     ...     ...     ...   ... ..   ...     ...  ..  ...  ...
246003  248161    -595     NaN     NaN   NaN  N  Bus3     NaN   0    2  ...
246004  257069   -4334  0.1145  0.8368  Panl  N  Mede  0.1180   0    2  ...
246005  154350  365243  0.3025  0.6056  Mixd  N  XNAA  0.2233   0    2  ...
246006  148183  365243     NaN     NaN   NaN  N  XNAA     NaN   0    3  ...
246007    5167  365243     NaN     NaN   NaN  Y  XNAA     NaN   0    2  ...

        A113  A114    A115    A116 A117  A118 A119    A120  A121  A122
0        1.0 -4670  0.9851  0.0000    0  Mard  0.0  0.3333     0     0
1        NaN -1994     NaN     NaN    0  Mard  0.0     NaN     0     0
2        2.0 -2842  0.9891  0.0000    0  Sind  0.0  0.3750     0     1
3        4.0 -1345  0.9682  0.0000    0  Sind  0.0  0.0417     0     1
4        NaN  -852     NaN     NaN    0  Sind  0.0     NaN     0     0
...      ...   ...     ...     ...  ...   ...  ...     ...   ...   ...
246003   NaN -4420     NaN     NaN    0  Mard  0.0     NaN     0     0
246004   4.0 -2561  0.9881  0.0000    0  Sind  0.0  0.3333     0     0
246005   1.0 -4636  0.9712  0.0631    0  Cive  0.0  0.1667     0     0
246006   5.0 -4636     NaN     NaN    0  Mard  0.0     NaN     0     1
246007   3.0 -4266     NaN     NaN    0  Mard  0.0     NaN     0     0

[246008 rows x 122 columns]>

In [9]:
df.shape

(246008, 122)

In [10]:
df.info

<bound method DataFrame.info of             A1      A2      A3      A4    A5 A6    A7      A8  A9  A10  ...  \
0        69769    -946  0.1613  0.7960  Panl  N  Bus2  0.0742   0    2  ...
1       236977     -92     NaN     NaN   NaN  Y  Othr     NaN   0    3  ...
2       168821   -1646  0.1124  0.8504  Panl  N  Bus3  0.0387   0    2  ...
3        94708   -1651  0.0263     NaN  Blok  N  Bus3     NaN   0    2  ...
4        84556    -977     NaN     NaN   NaN  N  Rest     NaN   0    2  ...
...        ...     ...     ...     ...   ... ..   ...     ...  ..  ...  ...
246003  248161    -595     NaN     NaN   NaN  N  Bus3     NaN   0    2  ...
246004  257069   -4334  0.1145  0.8368  Panl  N  Mede  0.1180   0    2  ...
246005  154350  365243  0.3025  0.6056  Mixd  N  XNAA  0.2233   0    2  ...
246006  148183  365243     NaN     NaN   NaN  N  XNAA     NaN   0    3  ...
246007    5167  365243     NaN     NaN   NaN  Y  XNAA     NaN   0    2  ...

        A113  A114    A115    A116 A117  A118 A119    A120  A121  A122
0        1.0 -4670  0.9851  0.0000    0  Mard  0.0  0.3333     0     0
1        NaN -1994     NaN     NaN    0  Mard  0.0     NaN     0     0
2        2.0 -2842  0.9891  0.0000    0  Sind  0.0  0.3750     0     1
3        4.0 -1345  0.9682  0.0000    0  Sind  0.0  0.0417     0     1
4        NaN  -852     NaN     NaN    0  Sind  0.0     NaN     0     0
...      ...   ...     ...     ...  ...   ...  ...     ...   ...   ...
246003   NaN -4420     NaN     NaN    0  Mard  0.0     NaN     0     0
246004   4.0 -2561  0.9881  0.0000    0  Sind  0.0  0.3333     0     0
246005   1.0 -4636  0.9712  0.0631    0  Cive  0.0  0.1667     0     0
246006   5.0 -4636     NaN     NaN    0  Mard  0.0     NaN     0     1
246007   3.0 -4266     NaN     NaN    0  Mard  0.0     NaN     0     0

[246008 rows x 122 columns]>

# Yeni Bölüm

In [13]:
df.dtypes

A1        int64
A2        int64
A3      float64
A4      float64
A5       object
         ...
A118     object
A119    float64
A120    float64
A121      int64
A122      int64
Length: 122, dtype: object

In [11]:
df.isnull().sum()

A1           0
A2           0
A3      143829
A4      163543
A5      124975
         ...
A118         0
A119       811
A120    122297
A121         0
A122         0
Length: 122, dtype: int64

In [18]:
NaColumn = df.columns[df.isnull().mean()>=0.20]
df1= df.drop(NaColumn, axis=1)

In [19]:
df1.isnull().sum()

A1        0
A2        0
A6        0
A7        0
A9        0
       ...
A117      0
A118      0
A119    811
A121      0
A122      0
Length: 72, dtype: int64

In [1]:
print("This update is done by Nihansu Padem.")

This update is done by Nihansu.